<%= error_messages_for :label %>

<%= form_for :label do |f| %>
  <%= required_fields_message %>

  <%= required labelled_form_field(_('Name'), f.text_field(:name)) %>
  <%= labelled_form_field(_('Color'), f.select(:color, @colors.map{|s|[s.capitalize,s]}))  %>
  <%= labelled_form_field(f.check_box(:enabled) + _('Enable this label?'),'') %>

  <% button_bar do %>
    <%= submit_button('save', _('Save'), :cancel => {:action => 'index'}  ) %>
  <% end %>
<% end %>
