<h1>
  <%= _('Content management') %>
</h1>

<% if !environment.enabled?('cant_change_homepage') && !remove_content_button(:home) %>
  <div class="cms-homepage">
    <%= _('Profile homepage:') %>
    <% if profile.home_page %>
      <%= link_to_article(profile.home_page) %>
      <%= button_without_text(:'home-not', _('Reset homepage'),  { :action => 'set_home_page', :id => nil }, :method => :post) %>
    <% else %>
      <span class="cms-homepage-default"><%= _('Profile Information') %></span>
    <% end %>
  </div>
<% end %>

<% button_bar(:style => 'margin-bottom: 1em;') do %>
  <% parent_id = ((@article && @article.allow_children?) ? @article : nil) %>

  <%= colorbox_button('new', _('New content'), :action => 'new', :parent_id => parent_id, :cms => true) %>
  <%= button(:back, _('Back to control panel'), :controller => 'profile_editor', :action => "index") %>
<% end %>

<% if @article %>
  <div id='article-full-path'>
    <strong><%= _('Current folder: ') %></strong>
    <%= link_to profile.identifier, :action => 'index' %>
    <% @article.hierarchy.each do |item| %>
      <%= " / " + ((item == @article) ? item.name.html_safe : link_to(item.slug, :id => item.id).html_safe) %>
    <% end %>
  </div>
<% end %>

<table class='cms-articles'>

  <%# header %>
  <tr>
    <th><%= _('Name') %></th>
    <th><%= _('Type') %></th>
    <th><%= _('Actions') %></th>
  </tr>

  <% if @article %>
    <tr>
      <td>
        <% if @article.parent %>
          <%= link_to '.. (' + _('parent folder') + ')', {:action => 'view', :id => @article.parent.id}, :class => 'icon-parent-folder' %>
        <% else %>
          <%= link_to '.. (' + _('parent folder') + ')', {:action => 'index'}, :class => 'icon-parent-folder' %>
        <% end %>
      </td>
      <td><%= Folder.short_description %></td>
      <td> </td>
    </tr>
  <% end %>

  <% @articles.each do |article| article = FilePresenter.for article %>
    <tr title="<%= article.title%>" >
      <td class="article-name">
        <%= link_to_article(article) %>
      </td>
      <% short_description =  article.respond_to?(:short_description) ?
            article.short_description :
            article.class.short_description %>
      <td class="article-mime" title=<%= short_description.to_json %>>
        <%= short_description %>
      </td>
      <td class="article-controls">
        <%= expirable_button article, :edit, _('Edit'), {:action => 'edit', :id => article.id} if !remove_content_button(:edit) %>
        <%= button_without_text :eyes, _('Public view'), article.view_url %>
        <%= display_spread_button(profile, article) unless article.folder? || remove_content_button(:spread)%>
        <% if !environment.enabled?('cant_change_homepage') && !remove_content_button(:home) %>
          <% if profile.home_page != article %>
            <%= expirable_button article, :home, _('Use as homepage'), { :action => 'set_home_page', :id => article.id }, :method => :post %>
          <% else %>
            <%= button_without_text(:'home-not', _('Reset homepage'),  { :action => 'set_home_page', :id => nil }, :method => :post) %>
          <% end %>
        <% end %>
        <%= display_delete_button(article) if !remove_content_button(:delete) %>
      </td>
    </tr>
  <% end %>

</table>

<%= pagination_links @articles, {:param_name => 'npage', :page_links => true} %>
