<div>

<h1><%= _('Select Community') %></h1>

<% if !@failed.blank? %>
  <div class="errorExplanation" id="errorExplanation">
    <div style="color: #c00;">
    <% @failed.each do |error|%>
      <strong> <%= error %></strong>
    <% end %>
    </div>
  </div>
<% end %>

<% button_bar do %>
  <%= button(:add, _('Create a new community'), :controller => 'memberships', :action => 'new_community', :profile => user.identifier, :back_to => @back_to) %>
<% end %>

<%= form_tag({:controller => 'community_track_plugin_public', :action => 'select_community', :profile => user.identifier}) do %>
<div class="common-profile-list-block">
  <ul>
  <% @communities.each do |community| %>
    <li class="search-profile-item">
      <div class="common-profile-list-block">
        <div class="vcard">
          <a href="#" onclick="jQuery('<%= "#community_identifier_#{community.identifier}" %>').attr('checked', true);">
            <span class="profile-image"><%= profile_image(community) %></span>
            <span class="org"><%= community.name %></span>
            <span class="select_community"><%= radio_button_tag(:community_identifier, community.identifier) %></span>
          </a>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
  </div>
  <div class="clear"></div>
  <br/>
  <%= submit_button :save, _('New Track') %>
<% end %>
</div>
