<div id="user_menu" class="top_extra_menu AOM_paddingBottom_6">

  <div id='user'>
    <div class='logged-in' style='display: none'>

    <div id="user_menu_head">
      <%= image_tag 'icons-app/person-icon.png', :alt => "{login} icon photo", :height => "20", :border => "0" %>
      <span><%= _("%s's Menu") % '{login}' %> </span>
    </div>

    <div id="user_menu_ul">
      <ul>

        <li>
          <%= link_to( '<span class="icon-menu-home"></span>' + _('My Home Page'), '/{login}')%>
        </li>

        <li>
        <%= link_to('<span class="icon-menu-my-groups"></span>' + _('My groups'), '/myprofile/{login}/memberships') %>
        </li>

        <li>
        <%= lightbox_link_to('<span class="icon-new"></span>' + _('New article'), '/myprofile/{login}/cms/new') %>
        </li>

        <li id='manage-enterprises-link-template' style='display: none'><a href='/myprofile/{identifier}'><span class="icon-menu-enterprise"></span><%= _('Manage %s') % '{name}' %></a></li>

        <!-- li><a href="#"><span class="icon-menu-blog"></span> Meu Blog</a></li -->

        <% if MailConf.enabled? %>
          <li class='webmail-link' style='display: none'>
          <%= link_to '<span class="icon-menu-mail"></span>' + _('Webmail'), MailConf.webmail_url('{login}', '{email_domain}') %>
          </li>
        <% end %>

        <li>
        <%= link_to('<span class="icon-menu-ctrl-panel"></span>'+ _('Control panel'), '/myprofile/{login}', :id => 'link_edit_profile') %>
        </li>

          <li class='admin-link' style='display: none'><%= link_to( '<span class="icon-menu-admin"></span>'+ _('Admin'),
                             {:controller => 'admin_panel' },
                             :id => 'link_admin_panel' ) %>
          </li>

        <li><%= link_to( '<span class="icon-menu-logout"></span>'+ _('Logout'),
                                  {:controller => 'account', :action => 'logout'},
                                  :id => 'link_logout' ) %>
        </li>

      </ul>
    </div><!-- id="user_menu_ul" -->

    </div> <!-- .logged-in -->

    <div class='not-logged-in' style='display: none'>

    <% if params[:controller] != 'account' || params[:action] != 'signup' %>
      <% if theme_option( :menu_login ) == 'full_form' %>
        <%= render :file => 'account/login_block' %>
      <% else %>
        <%= thickbox_inline_popup_link('<span class="icon-menu-login"></span>'+ _('Login'), login_url, 'inlineLoginBox', :id => 'link_login') %>
        <div id='inlineLoginBox' style='display: none;'>
          <%= render :file => 'account/login', :locals => { :is_thickbox => true } %>
        </div>
      <% end %>
    <% end %>

    </div><!-- #not-logged-in -->

  </div><!-- #user -->

</div><!-- fim id="user_menu" -->
