<h2 id='new_product_title'><%= _('New product or service') %></h2>

<div id='request_result_message' style='display: none'></div>

<%= remote_form_for :product, @product,
   :loading => "open_loading('#{ _('loading...') }')",
   :update => "request_result_message",
   :url => {:action => 'new'},
   :html => {:method => 'post', :id => 'category_form'} do |f| %>

  <h3><%= _('Select the category of the new product or service') %></h3>

  <%= categories_container(select_for_new_category(@categories, @level)) %>

  <div id='categories_selection_actionbar'>
    <%= button :back, _('Back to the product listing'), :action => 'index' %>
    <span id='save_and_continue_wrapper'>
      <%= submit_button(:save, _('Save and continue'), :id => 'save_and_continue') %>
      <span class='tooltip' id='save_and_continue_disabled_tooltip'>
         <%= ui_icon('ui-icon-alert') %>
         <%= _('This category does not allow registration of products, select a more specific category') %>
      </span>
    </span>
  </div>

<% end %>

<%= javascript_tag do %>
  toggleDisabled(<%= @category && @category.accept_products? ? 'true' : 'false' %>, $('save_and_continue'))
<% end %>
