<div class='activation-box'>
<h2><%= _('Enterprise activation - part 3 of 3') %></h2>

<%= error_messages_for :user %>

<p><%= _('Now for you manage your enterprise you have to associate an individual account to the enterprise.') %></p>
<p><%= _('Do you have a personal user account in the system?') %></p>

<div id="enterprise-activation-create-user-or-login-button">
  <%= button_to_function 'login', _('Yes'), "$('enterprise-activation-create-user-form').hide(); $('enterprise-activation-login-form').show()" %> 
  <%= button_to_function 'add', _('No'),  "$('enterprise-activation-login-form').hide(); $('enterprise-activation-create-user-form').show()" %>
</div>

<div id="enterprise-activation-create-user-form" style="display: none">
  <h3><%= _('Personal signup form') %></h3>
  <%= render :partial => 'signup_form', :locals => { :hidden_atention => true } %>
  <p><%= message = _('<b>Warning</b>: this form is for your personal information, not of your enterprise. So you will have a personal account that can manage your enterprise.') %></p>
</div>

<div id="enterprise-activation-login-form" style="display: none">

  <h3><%= _('Enter you user name and password') %></h3>
  <%= render :partial => 'login_form' %>
  <p><%= message %></p>
</div>


</div>
